<!DOCTYPE html>
<html>
<head>
<title>Lookalike</title>

 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet"> 
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>

<div class="container-fluid">
<div class="row">
<div class="col-sm-2 col-md-2 col-lg-2 col-xl-1">
<nav class="navbar fixed-top navbar-light bg-light">
 <a class="navbar-brand" href="/">
      <img class="bandlogo" src="/images/bandlogo.png"> </a>
    <div class="nav flex-sm-column flex-row">
      <li class="nav-item <%= typeof page !== 'undefined' && page === 'home' ? 'active' : '' %>">
       <a class="nav-link" href="/">NEWS</a>
       </li>
       <li class="nav-item <%= typeof page !== 'undefined' && page === 'discography' ? 'active' : '' %>">
        <a class="nav-link" href="/discography">DISCOGRAPHY</a>
        </li>
            <a class="nav-link" href="#">LIVE</a>
                <a class="nav-link" href="#">STORE</a>
                  <li class="nav-item <%= typeof page !== 'undefined' && page === 'follow' ? 'active' : '' %>">
                    <a class="nav-link" href="/social-media">FOLLOW</a>
                    </li>



  </div>
</nav>
</div>


