<%include partials/header%>
<div class="col-lg-10 col-md-6">
    <div id="accordion">
        <div class="line">
            <div id="headingOne">
                <h5 class="mb-3">Band: main releases <button class="btn btn-link" data-toggle="collapse"
                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><img class="cross"
                            src="images/cross.png"></button></h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">

               <%include partials/disc/mainreleases%>
            </div>
            <div class="line">
                <div id="headingTwo">
                    <h5 class="mb-3">Band: Singles / Eps / Live <button class="btn btn-link collapsed"
                            data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                            aria-controls="collapseTwo"><img class="cross" src="images/cross.png"></button></h5>
                </div>
                <div id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#accordion">
                    <%include partials/disc/singles%>
                </div>
            </div>
            <div class="line">
                <div id="headingThree">
                    <h5 class="mb-3">Film work <button class="btn btn-link collapsed" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><img
                                class="cross" src="images/cross.png"></button></h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <%include partials/disc/films%>
                </div>
            </div>
            <div class="line">
                <div id="headingFour">
                    <h5 class="mb-3">Miscellaneous <button class="btn btn-link collapsed" data-toggle="collapse"
                            data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"><img
                                class="cross" src="images/cross.png"></button></h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                   <%include partials/disc/misc%>
                </div>
            </div>
            <div class="line">
                <div id="headingFive">
                    <h5 class="mb-3">Band: Family <button class="btn btn-link collapsed" data-toggle="collapse"
                            data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive"><img
                                class="cross" src="images/cross.png"></button></h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                    <%include partials/disc/family%>
                </div>
            </div>
        </div>
    </div>
</div>
</div><%include partials/smallscroll%>
<%include partials/footer%>