<%include partials/header%>
<div class="col-lg-10 col-md-6">

    <div id="accordion">
        <div class="line">
            <div id="headingOne">
                <h5 class="mb-3"> Band: main releases
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        <img class="cross" src="images/cross.png">
                    </button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="album py-5 bg-light">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                            <div class=" mb-4 shadow-sm">
                                    <img class="card-img-top" src="images/album2.jpeg">
                                    <div class="content">
                                    <div class="description">
                                        The First Album[1989]
                                        </div>
                                </div>
                                
                                  <div class="about-section">
                                    <p id="p1"><img class="float-left" src="images/album2.jpeg" style="width: 500px; height:500px"></p>
                                    <p class="album">The First Album[1989]</p>
                                    <p >bands’ classic first record, produced by Mellisa Madrid with Floor, Jake Baker, Keifer Leblanch and Adrian Sherwood.</p>
                                    <div id="albumlist">
                                    <p>Tracklist </p>
                                     <ol class="albumlist">
                                        <li>Yes</li>
                                        <li>No</li>
                                        <li>Idk</li>
                                        <li>Can you repeat the question?</li>
                                    </ol>
                                    </div>
                                     </div>
                                     
                                </div>
                          </div>
                             


                            <div class="col-md-4">
                                <div class="mb-4 shadow-sm">
                                    <img class="card-img-top" src="images/album1.jpg">
                                </div>
                                <div class="content">
                                    <div class="description">
                                    The Second Album[1990]
                                    </div>
                                </div>
                             
                                 <div class="about-section">
                                
                                    <p id="p1"><img class="float-left" src="images/album1.jpg" style="width: 500px; height:500px"></p>
                                    <p class="album">The Second Album[1990]</p>
                                    <p >bands’ classic first record, produced by Mellisa Madrid with Floor, Jake Baker, Keifer Leblanch and Adrian Sherwood.</p>
                                    <div id="albumlist">
                                    <p>Tracklist </p>
                                     <ol class="albumlist">
                                        <li>Yes</li>
                                        <li>No</li>
                                        <li>Idk</li>
                                        <li>Can you repeat the question?</li>
                                    </ol>
                                    </div>
                                     </div>
                                    
                                     
                                   
                                     
                                </div>
                             


                            <div class="col-md-4">
                                <div class=" mb-5 mb-4 shadow-sm">
                                    <img class="card-img-top" src="images/town.jpg">
                                </div>
                                <div class="content">
                                    <div class="description">The Third Album[1990]
                                    </div>
                                </div>
                                 <div class="about-section">
                                
                                    <p id="p1"><img class="float-left" src="images/town.jpg" style="width: 500px; height:500px"></p>
                                    <p class="album">The Third Album[2001]</p>
                                    <p >bands’ classic first record, produced by Mellisa Madrid with Floor, Jake Baker, Keifer Leblanch and Adrian Sherwood.</p>
                                    <div id="albumlist">
                                    <p>Tracklist </p>
                                     <ol class="albumlist">
                                        <li>Yes</li>
                                        <li>No</li>
                                        <li>Idk</li>
                                        <li>Can you repeat the question?</li>
                                    </ol>
                                    </div>
                                     </div>
                                    
                            </div>

                            <div class="col-md-4">
                                <div class="card mb-4 shadow-sm">
                                    <img class="card-img-top" src="images/album1.jpg">
                                </div>
                                <div class="content">
                                    <div class="description">The First Album[1989]</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-4 shadow-sm">
                                    <img class="card-img-top" src="images/album1.jpg">
                                </div>
                                <div class="content">
                                    <div class="description">The First Album[1989]</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-4 shadow-sm">
                                    <img class="card-img-top" src="images/album1.jpg">

                                </div>
                                <div class="content">
                                    <div class="description">The First Album[1989]</div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="card mb-4 shadow-sm">
                                    <img class="card-img-top" src="images/album1.jpg">

                                </div>
                                <div class="content">
                                    <div class="description">The First Album[1989]</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-4 shadow-sm">
                                    <img class="card-img-top" src="images/album1.jpg">

                                </div>
                                <div class="content">
                                    <div class="description">The First Album[1989]</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-4 shadow-sm">
                                    <img class="card-img-top" src="images/album1.jpg">

                                </div>
                                <div class="content">
                                    <div class="description">The First Album[1989]</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <div class="line">
                <div id="headingTwo">
                    <h5 class="mb-3">
                        Band: Singles / Eps / Live
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            <img class="cross" src="images/cross.png">
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#accordion">
                    <div>
                        <img src="images/album2.jpeg">

                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3
                        wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum
                        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                        nulla
                        assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                        nesciunt
                        sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                        farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                        labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="line">
                <div id="headingThree">
                    <h5 class="mb-3">Film work
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                            <img class="cross" src="images/cross.png">
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div>
                        <img src="images/town.jpg">

                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3
                        wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum
                        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                        nulla
                        assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                        nesciunt
                        sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                        farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                        labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="line">
                <div id="headingThree">
                    <h5 class="mb-3">Miscellaneous
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                            <img class="cross" src="images/cross.png">
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div>
                        <img src="images/town.jpg">

                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3
                        wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum
                        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                        nulla
                        assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                        nesciunt
                        sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                        farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                        labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="line">
                <div id="headingThree">
                    <h5 class="mb-3">Band: Family
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                            <img class="cross" src="images/cross.png">
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div>
                        <img src="images/town.jpg">

                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3
                        wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum
                        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                        nulla
                        assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                        nesciunt
                        sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                        farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                        labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<%include partials/slider%>

<%include partials/footer%>