<%include partials/header%>


<div class="container newsContainer">
<div id="accordion">
  <div class="line">
    <div id="headingOne">
      <h4 class="mb-3"> Social
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         <img class="cross img-responsive" src="images/cross.png">
        </button>
      </h4>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <ul id="followlist">
      <li><a href="#">Facebook</a></li>
      <li><a href="#">Twitter</a></li>
      <li><a href="#">Instagram</a></li>
      <li><a href="#">Tumblr</a></li>
      </ul>

  </div>
  <div class="line">
    <div  id="headingTwo">
      <h4 class="mb-3">
       Email notifications
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        <img class="cross" src="images/cross.png">
        </button>
      </h4>
    </div>
    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
    <div id="signup-form">
    <form id="subForm" action="/social-media" method="POST">
    <p class="newsletter-note">
    WE WILL OCCASIONALLY CONTACT YOU VIA EMAIL TO GIVE YOU ADVANCE NOTICE ON VINYL REISSUES, NEW MERCHANDISE, TICKETS ON SALE, ETC
    </p>
     <p>
      <input id="fieldEmail" name="email" type="email" placeholder="EMAIL" required="">
      </p>
      <p>
      <button class="btn btn-outline-dark" type="submit">Subscribe</button>
      </p>
    </div>
    </form>
    </div>
     
  </div>
  
</div>
  </div>
</div>
</div>
<script type="text/javascript" src="../javascripts/store-collapse.js"></script>


<%include partials/footer%>