<% include partials/store/storeheader%>
<%include partials/header%>



<div class="col-lg-11 col-md-6 storeColumn">
<div id="photoTop">
<a href="/music"><img class="storeImage"src="images/record.jpg">Music</a>
<a href="/clothing"><img class="storeImage" src="images/clothing.jpg">Clothing</a>
<a href="/objects"><img class="storeImage" src="images/objects.jpg">Objects</a>
</div>
</div>

<%include partials/footer%>