<%include partials/header%>

<div class="col-lg-10 col-md-6">
<p>Thank you for subscribing. Watch your email for ticket sales and updates..</p>
</div>

<%include partials/slider%>
<%include partials/footer%>