<div class="album py-5 bg-light">
     <div class="container" id="containerDisc">
         <div class="row d-flex" id="row1">
             <div class="col-md-4 py-2">
                 <div class="card">
                     <div class="hovereffect">
                         <img class="img-responsive" src="images/film1.jpg">
                         <div class="overlay">
                             <a class="info" href="#detail1" data-toggle="collapse">
                                 <h2>Girl with the butterfly tattoo[2011]</h2>
                         </div>
                     </div>
                     </a>
                 </div>
             </div>
             <div class="col py-2 order-md-last collapse fade" id="detail1">
                 <div class="card">
                     <div class="albumDetails">
                         <img src="images/film1.jpg">
                         <div class="albumtrack">
                             <p class="albumtitle">Girl with the butterfly tattoo [2011]</p>
                             <p>Madrid and Ross’ second collaboration with Fincher yields an incredibly dense, dark and icy collection of music. 
                              Perfect for dark nights and long drives, this also features How To Destroy Angels’ cover of Bryan Ferry’s 
                              Is Your Love Strong Enough? and Karen O singing with Madrid and Ross on Led Zepplin’s <em>Immigrant Song</em>.</p>
                             <p>Tracklist + </p>
                             <ol>
                                 <li>Yes</li>
                                 <li>No</li>
                                 <li>idk</li>
                                 <li>Can you repeat the question?</li>
                             </ol>
                             <p> MORE INFO: <a href="#">band wiki</a></p>

                             <p>BUY FROM: <a href="#">Band Store</a>|<a href="#">iTunes</a>|<a href="#">Amazon</a></p>
                             <p>PLAY: <a href="#">Spotify</a>|<a href="#">Apple Music</a></p>
                            </div>
                     </div>
                </div>
             </div>
             <div class="col-md-4 py-2">
                 <div class="card">
                     <div class="hovereffect">
                         <img class="img-responsive" src="images/film2.jpg">
                         <div class="overlay">
                             <a class="info" href="#detail2" data-toggle="collapse">
                                 <h2>Chicken Box[2019]</h2>
                         </div>
                     </div>
                     </a>
                 </div>
             </div>
             <div class="col py-2 order-md-last collapse fade" id="detail2">
                 <div class="card">
                     <div class="albumDetails">
                         <img src="images/film2.jpg">
                         <div class="albumtrack">
                             <p class="albumtitle">Chicken Box[2019]</p>
                             <p>Tracklist + </p>
                             <ol>
                                 <li>How</li>
                                 <li>Can</li>
                                 <li>You</li>
                                 <li>Slap?</li>
                             </ol>
                             <p> MORE INFO: <a href="#">band wiki</a></p>
                            <p>BUY FROM: <a href="#">Band Store</a>|<a href="#">iTunes</a>|<a href="#">Amazon</a></p>
                             <p>PLAY: <a href="#">Spotify</a>|<a href="#">Apple Music</a></p>
                        </div>
                     </div>
                 </div>
             </div>
            
            
         
         
            
            
             
            
         </div>
     </div>
 </div>