 <div class="album py-5 bg-light">
     <div class="container" id="containerDisc">
         <div class="row d-flex" id="row1">
             <div class="col-md-4 py-2">
                 <div class="card">
                     <div class="hovereffect">
                         <img class="img-responsive" src="images/album1.jpg">
                         <div class="overlay">
                             <a class="info" href="#detail1" data-toggle="collapse">
                                 <h2>The First Album[1989]</h2>
                         </div>
                     </div>
                     </a>
                 </div>
             </div>
             <div class="col py-2 order-md-last collapse fade" id="detail1">
                 <div class="card">
                     <div class="albumDetails">
                         <img src="images/album1.jpg">
                         <div class="albumtrack">
                             <p class="albumtitle">The First Album [1989]</p>
                             <p>Band's classic first record, produced by Mellisa Madrid with Flood, John Fryer, Keith
                                 Leblanc and Adrian Sherwood.</p>
                             <p>Tracklist + </p>
                             <ol>
                                 <li>Yes</li>
                                 <li>No</li>
                                 <li>idk</li>
                                 <li>Can you repeat the question?</li>
                             </ol>
                             <p> MORE INFO: <a href="#">band wiki</a></p>

                             <p>BUY FROM: <a href="#">NIN Store</a>|<a href="#">iTunes</a>|<a href="#">Amazon</a></p>
                             <p>PLAY: <a href="#">Spotify</a>|<a href="#">Apple Music</a></p>
                            </div>
                     </div>
                </div>
             </div>
             <div class="col-md-4 py-2">
                 <div class="card">
                     <div class="hovereffect">
                         <img class="img-responsive" src="images/album2.jpeg">
                         <div class="overlay">
                             <a class="info" href="#detail2" data-toggle="collapse">
                                 <h2>The Second Album[1992]</h2>
                         </div>
                     </div>
                     </a>
                 </div>
             </div>
             <div class="col py-2 order-md-last collapse fade" id="detail2">
                 <div class="card">
                     <div class="albumDetails">
                         <img src="images/album2.jpeg">
                         <div class="albumtrack">
                             <p class="albumtitle">The Second Album [1992]</p>
                             <p>Recorded in secret to avoid interference from the record label, the follow-up to
                                 <strong>The First Album</strong> takes an unexpected abrupt turn into sheer aggression.
                             </p>
                             <p>Tracklist + </p>
                             <ol>
                                 <li>How</li>
                                 <li>Can</li>
                                 <li>You</li>
                                 <li>Slap?</li>
                             </ol>
                             <p> MORE INFO: <a href="#">band wiki</a></p>
                            <p>BUY FROM: <a href="#">NIN Store</a>|<a href="#">iTunes</a>|<a href="#">Amazon</a></p>
                             <p>PLAY: <a href="#">Spotify</a>|<a href="#">Apple Music</a></p>
                        </div>
                     </div>
                 </div>
             </div>
             <div class="col-md-4 py-2">
                 <div class="card">
                     <div class="hovereffect">
                         <img class="img-responsive" src="images/town.jpg">
                         <div class="overlay">
                             <a class="info" href="#detail3" data-toggle="collapse">
                                 <h2>The Third Album[1994]</h2>
                         </div>
                     </div>
                     </a>
                 </div>
             </div>
             <div class="col py-2 order-md-last collapse fade" id="detail3">
                 <div class="card">
                     <div class="albumDetails">
                         <img src="images/town.jpg">
                         <div class="albumtrack">
                             <p class="albumtitle">The Third Album [1994]</p>
                             <p>A bleak and unflinching celebration of self-destruction in the form of a concept record
                                 that somehow managed to become a multi-platinum worldwide hit.
                                 One of the most adventurous and experimental sounding records to ever top the charts.
                             </p>
                             <p>Tracklist + </p>
                             <ol>
                                 <li>How</li>
                                 <li>Can</li>
                                 <li>You</li>
                                 <li>Slap?</li>
                             </ol>
                             <p> MORE INFO: <a href="#">band wiki</a></p>

                             <p>BUY FROM: <a href="#">NIN Store</a>|<a href="#">iTunes</a>|<a href="#">Amazon</a></p>
                             <p>PLAY: <a href="#">Spotify</a>|<a href="#">Apple Music</a></p>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <div class="row d-flex" id="row2">
             <div class="col-md-4 py-2">
                 <div class="card">
                     <div class="hovereffect">
                         <img class="img-responsive" src="images/album 5.jpg">
                         <div class="overlay">
                             <a class="info" href="#detail4" data-toggle="collapse">
                                 <h2>The Fourth Album[1999]</h2>
                         </div>
                     </div>
                     </a>
                 </div>
             </div>
             <div class="col py-2 order-md-last collapse fade" id="detail4">
                 <div class="card">
                     <div class="albumDetails">
                         <img src="images/album 5.jpg">
                         <div class="albumtrack">
                             <p class="albumtitle">The Fourth Album [1999]</p>
                             <p>Hiding from the world and herself in a New Orleans studio for several years, a damaged
                                 Madrid creates the sprawling opus
                                 <strong>The Fourth Album</strong> and the palette once again expands for what to expect
                                 from Band.
                                 A dense and difficult listen requiring attention and repeated listenings, it is now
                                 considered by many hardcore fans to
                                 be their favorite Band record.</p>
                             <p>Tracklist + </p>
                             <ol>
                                 <li>How</li>
                                 <li>Can</li>
                                 <li>You</li>
                                 <li>Slap?</li>
                             </ol>
                             <p> MORE INFO: <a href="#">band wiki</a></p>

                             <p>BUY FROM: <a href="#">NIN Store</a>|<a href="#">iTunes</a>|<a href="#">Amazon</a></p>
                             <p>PLAY: <a href="#">Spotify</a>|<a href="#">Apple Music</a></p>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-md-4 py-2">
                 <div class="card ">
                     <div class="hovereffect">
                         <img class="img-responsive" src="images/name.jpg">
                         <div class="overlay">
                             <a class="info" href="#detail5" data-toggle="collapse">
                                 <h2>The Fifth Album[2005]</h2>
                         </div>
                     </div>
                     </a>
                 </div>
             </div>
             <div class="col py-2 order-md-last collapse fade" id="detail5">
                 <div class="card">
                     <div class="albumDetails">
                         <img src="images/name.jpg">
                         <div class="albumtrack">
                             <p class="albumtitle">The Fifth Album [2005]</p>
                             <p>After nearly dying making and touring <strong>The Fourth Album</strong>,
                                 Madrid cleans up and rediscovers herself with the aggressive and accessible <strong>The
                                     Fifth Album</strong>. Guitars,
                                 hooks, Dave Grohl.</p>
                             <p>Tracklist + </p>
                             <ol>
                                 <li>How</li>
                                 <li>Can</li>
                                 <li>You</li>
                                 <li>Slap?</li>
                             </ol>
                             <p> MORE INFO: <a href="#">band wiki</a></p>

                             <p>BUY FROM: <a href="#">NIN Store</a>|<a href="#">iTunes</a>|<a href="#">Amazon</a></p>
                             <p>PLAY: <a href="#">Spotify</a>|<a href="#">Apple Music</a></p>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-md-4 py-2">
                 <div class="card">
                     <div class="hovereffect">
                         <img class="img-responsive" src="images/screenshot.png">
                         <div class="overlay">
                             <a class="info" href="#detail6" data-toggle="collapse">
                                 <h2>The Sixth Album[2007]</h2>
                         </div>
                     </div>
                     </a>
                 </div>
             </div>
             <div class="col py-2 order-md-last collapse fade" id="detail6">
                 <div class="card">
                     <div class="albumDetails">
                         <img src="images/screenshot.png">
                         <div class="albumtrack">
                             <p class="albumtitle">The Sixth Album [2007]</p>
                             <p>Musically and conceptually way ahead of its time. An elaborate concept record set in the
                                 near future (or the present, depending on how you look at the post-Trump world), each
                                 song
                                 is a “snapshot” of life set against elaborately deconstructed electronics.
                                 A puzzle-box that rewards the repeat listener.</p>
                             <p>Tracklist + </p>
                             <ol>
                                 <li>How</li>
                                 <li>Can</li>
                                 <li>You</li>
                                 <li>Slap?</li>
                             </ol>
                             <p> MORE INFO: <a href="#">band wiki</a></p>

                             <p>BUY FROM: <a href="#">NIN Store</a>|<a href="#">iTunes</a>|<a href="#">Amazon</a></p>
                             <p>PLAY: <a href="#">Spotify</a>|<a href="#">Apple Music</a></p>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>