<div class="album py-5 bg-light">
     <div class="container" id="containerDisc">
         <div class="row d-flex" id="row1">
             <div class="col-md-4 py-2">
                 <div class="card">
                     <div class="hovereffect">
                         <img class="img-responsive" src="images/misc1.jpg">
                         <div class="overlay">
                             <a class="info" href="#detail1" data-toggle="collapse">
                                 <h2>Monkeying around[2011]</h2>
                         </div>
                     </div>
                     </a>
                 </div>
             </div>
             <div class="col py-2 order-md-last collapse fade" id="detail1">
                 <div class="card">
                     <div class="albumDetails">
                         <img src="images/misc1.jpg">
                         <div class="albumtrack">
                             <p class="albumtitle">Monkeying around [2011]</p>
                             <p>Sometimes you just gotta have some fun.</p>
                             <p>Tracklist + </p>
                             <ol>
                                 <li>Yes</li>
                                 <li>No</li>
                                 <li>idk</li>
                                 <li>Can you repeat the question?</li>
                             </ol>
                             <p> MORE INFO: <a href="#">band wiki</a></p>

                             <p>BUY FROM: <a href="#">Band Store</a>|<a href="#">iTunes</a>|<a href="#">Amazon</a></p>
                             <p>PLAY: <a href="#">Spotify</a>|<a href="#">Apple Music</a></p>
                            </div>
                     </div>
                </div>
             </div>
             <div class="col-md-4 py-2">
                 <div class="card">
                     <div class="hovereffect">
                         <img class="img-responsive" src="images/misc2.jpg">
                         <div class="overlay">
                             <a class="info" href="#detail2" data-toggle="collapse">
                                 <h2>Horsin' it[1996]</h2>
                         </div>
                     </div>
                     </a>
                 </div>
             </div>
             <div class="col py-2 order-md-last collapse fade" id="detail2">
                 <div class="card">
                     <div class="albumDetails">
                         <img src="images/misc2.jpg">
                         <div class="albumtrack">
                             <p class="albumtitle">Horsin' it[1996]</p>
                             <p>Tracklist + </p>
                             <ol>
                                 <li>How</li>
                                 <li>Can</li>
                                 <li>You</li>
                                 <li>Slap?</li>
                             </ol>
                             <p> MORE INFO: <a href="#">band wiki</a></p>
                            <p>BUY FROM: <a href="#">Band Store</a>|<a href="#">iTunes</a>|<a href="#">Amazon</a></p>
                             <p>PLAY: <a href="#">Spotify</a>|<a href="#">Apple Music</a></p>
                        </div>
                     </div>
                 </div>
             </div>
              <div class="col-md-4 py-2">
                 <div class="card">
                     <div class="hovereffect">
                         <img class="img-responsive" src="images/misc3.jpg">
                         <div class="overlay">
                             <a class="info" href="#detail3" data-toggle="collapse">
                                 <h2>Lazy Dayz[2007]</h2>
                         </div>
                     </div>
                     </a>
                 </div>
             </div>
             <div class="col py-2 order-md-last collapse fade" id="detail3">
                 <div class="card">
                     <div class="albumDetails">
                         <img src="images/misc3.jpg">
                         <div class="albumtrack">
                             <p class="albumtitle">Lazy Dayz[2007]</p>
                             <p>Tunes to chill out to.</p>
                             <p>Tracklist + </p>
                             <ol>
                                 <li>How</li>
                                 <li>Can</li>
                                 <li>You</li>
                                 <li>Slap?</li>
                             </ol>
                             <p> MORE INFO: <a href="#">band wiki</a></p>
                            <p>BUY FROM: <a href="#">Band Store</a>|<a href="#">iTunes</a>|<a href="#">Amazon</a></p>
                             <p>PLAY: <a href="#">Spotify</a>|<a href="#">Apple Music</a></p>
                        </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>