 <div class="album py-5 bg-light">
     <div class="container" id="containerDisc">
         <div class="row d-flex" id="row1">
             <div class="col-md-4 py-2">
                 <div class="card">
                     <div class="hovereffect">
                         <img class="img-responsive" src="images/band1.jpg">
                         <div class="overlay">
                             <a class="info" href="#detail1" data-toggle="collapse">
                                 <h2>Down in it[1989]</h2>
                         </div>
                     </div>
                     </a>
                 </div>
             </div>
             <div class="col py-2 order-md-last collapse fade" id="detail1">
                 <div class="card">
                     <div class="albumDetails">
                         <img src="images/band1.jpg">
                         <div class="albumtrack">
                             <p class="albumtitle">Down in it [1989]</p>
                             <p>The first music released by Band.  Reproduced and remixed by Adrian Sherwood and Keith LeBlanc.</p>
                             <p>Tracklist + </p>
                             <ol>
                                 <li>Yes</li>
                                 <li>No</li>
                                 <li>idk</li>
                                 <li>Can you repeat the question?</li>
                             </ol>
                             <p> MORE INFO: <a href="#">band wiki</a></p>

                             <p>BUY FROM: <a href="#">Band Store</a>|<a href="#">iTunes</a>|<a href="#">Amazon</a></p>
                             <p>PLAY: <a href="#">Spotify</a>|<a href="#">Apple Music</a></p>
                            </div>
                     </div>
                </div>
             </div>
             <div class="col-md-4 py-2">
                 <div class="card">
                     <div class="hovereffect">
                         <img class="img-responsive" src="images/band2.jpg">
                         <div class="overlay">
                             <a class="info" href="#detail2" data-toggle="collapse">
                                 <h2>Head like a hawk[1990]</h2>
                         </div>
                     </div>
                     </a>
                 </div>
             </div>
             <div class="col py-2 order-md-last collapse fade" id="detail2">
                 <div class="card">
                     <div class="albumDetails">
                         <img src="images/band2.jpg">
                         <div class="albumtrack">
                             <p class="albumtitle">Head like a hawk [1990]</p>
                             <p>Too many mixes, we were still learning</p>
                             <p>Tracklist + </p>
                             <ol>
                                 <li>How</li>
                                 <li>Can</li>
                                 <li>You</li>
                                 <li>Slap?</li>
                             </ol>
                             <p> MORE INFO: <a href="#">band wiki</a></p>
                            <p>BUY FROM: <a href="#">Band Store</a>|<a href="#">iTunes</a>|<a href="#">Amazon</a></p>
                             <p>PLAY: <a href="#">Spotify</a>|<a href="#">Apple Music</a></p>
                        </div>
                     </div>
                 </div>
             </div>
             <div class="col-md-4 py-2">
                 <div class="card">
                     <div class="hovereffect">
                         <img class="img-responsive" src="images/band3.jpg">
                         <div class="overlay">
                             <a class="info" href="#detail3" data-toggle="collapse">
                                 <h2>Tin[1990]</h2>
                         </div>
                     </div>
                     </a>
                 </div>
             </div>
             <div class="col py-2 order-md-last collapse fade" id="detail3">
                 <div class="card">
                     <div class="albumDetails">
                         <img src="images/band3.jpg">
                         <div class="albumtrack">
                             <p class="albumtitle">Tin[1990]</p>
                             <p>The final single from The Third Album featuring the Al Jourgensen produced Queen cover Get Down, 
                             Make Love and a sleeve by The Designer’s Republic.</p>
                             <p>Tracklist + </p>
                             <ol>
                                 <li>How</li>
                                 <li>Can</li>
                                 <li>You</li>
                                 <li>Slap?</li>
                             </ol>
                             <p> MORE INFO: <a href="#">band wiki</a></p>

                             <p>BUY FROM: <a href="#">Band Store</a>|<a href="#">iTunes</a>|<a href="#">Amazon</a></p>
                             <p>PLAY: <a href="#">Spotify</a>|<a href="#">Apple Music</a></p>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <div class="row d-flex" id="row2">
             <div class="col-md-4 py-2">
                 <div class="card">
                     <div class="hovereffect">
                         <img class="img-responsive" src="images/band4.jpg">
                         <div class="overlay">
                             <a class="info" href="#detail4" data-toggle="collapse">
                                Broken <h2>[1992]</h2>
                         </div>
                     </div>
                     </a>
                 </div>
             </div>
             <div class="col py-2 order-md-last collapse fade" id="detail4">
                 <div class="card">
                     <div class="albumDetails">
                         <img src="images/band4.jpg">
                         <div class="albumtrack">
                             <p class="albumtitle">The Fourth Album [1999]</p>
                             <p>A companion piece to Broken.  Not meant to be a “remix” record, but a re-interpretation and deconstruction of the music found on Broken in it’s “proper” form.
                               Featuring J.G. Thirlwell and Band’s first musical collaboration with Coil.</p>
                             <p>Tracklist + </p>
                             <ol>
                                 <li>How</li>
                                 <li>Can</li>
                                 <li>You</li>
                                 <li>Slap?</li>
                             </ol>
                             <p> MORE INFO: <a href="#">band wiki</a></p>

                             <p>BUY FROM: <a href="#">Band Store</a>|<a href="#">iTunes</a>|<a href="#">Amazon</a></p>
                             <p>PLAY: <a href="#">Spotify</a>|<a href="#">Apple Music</a></p>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-md-4 py-2">
                 <div class="card ">
                     <div class="hovereffect">
                         <img class="img-responsive" src="images/band5.jpg">
                         <div class="overlay">
                             <a class="info" href="#detail5" data-toggle="collapse">
                                 <h2>March of the Figs[1994]</h2>
                         </div>
                     </div>
                     </a>
                 </div>
             </div>
             <div class="col py-2 order-md-last collapse fade" id="detail5">
                 <div class="card">
                     <div class="albumDetails">
                         <img src="images/band5.jpg">
                         <div class="albumtrack">
                             <p class="albumtitle">March of the figs[1994]</p>
                             <p>The first single.</p>
                             <p>Tracklist + </p>
                             <ol>
                                 <li>How</li>
                                 <li>Can</li>
                                 <li>You</li>
                                 <li>Slap?</li>
                             </ol>
                             <p> MORE INFO: <a href="#">band wiki</a></p>

                             <p>BUY FROM: <a href="#">Band Store</a>|<a href="#">iTunes</a>|<a href="#">Amazon</a></p>
                             <p>PLAY: <a href="#">Spotify</a>|<a href="#">Apple Music</a></p>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-md-4 py-2">
                 <div class="card">
                     <div class="hovereffect">
                         <img class="img-responsive" src="images/band6.jpg">
                         <div class="overlay">
                             <a class="info" href="#detail6" data-toggle="collapse">
                                 <h2>Closer to Mod[1994]</h2>
                         </div>
                     </div>
                     </a>
                 </div>
             </div>
             <div class="col py-2 order-md-last collapse fade" id="detail6">
                 <div class="card">
                     <div class="albumDetails">
                         <img src="images/band6.jpg">
                         <div class="albumtrack">
                             <p class="albumtitle">Closer to Mod [1994]</p>
                             <p>An interesting remix record with some real gems.  Madrid turns Closer inside-out on Closer to Mod, while Coil does some of their finest work on Closer (Precursor) made famous for the opening credits of David Fincher’s Se7en. 
                              A cover of Soft Cell’s Memorabilia remains an engaging time-capsule of that era.</p>
                             <p>Tracklist + </p>
                             <ol>
                                 <li>How</li>
                                 <li>Can</li>
                                 <li>You</li>
                                 <li>Slap?</li>
                             </ol>
                             <p> MORE INFO: <a href="#">band wiki</a></p>

                             <p>BUY FROM: <a href="#">Band Store</a>|<a href="#">iTunes</a>|<a href="#">Amazon</a></p>
                             <p>PLAY: <a href="#">Spotify</a>|<a href="#">Apple Music</a></p>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>