/* Disgography page*/



#containerDisc {
    max-width: 100%;
}

.card {
    border: none;
    margin-bottom: 50px;
}


@media (max-width: 768px) {
    .albumtrackdetails {
        float: left;
    }
}


.albumDetails>img {
    float: left;
    width: 47%;
}


.albumDetails>p {
    text-indent: 16px;
    font-size: 12px;
}

.albumtrack {
    text-indent: 16px;
    font-size: 12px;
}

li {
    text-indent: 5px;
}

ol {
    list-style-position: inside;
}

.img__wrap {
    position: relative;
    width: 100%
}

.img__description_layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(66, 55, 55, 0.6);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;

}

.img__description>p {
    color: #fff;
    text-decoration: none;
}

.img__wrap:hover .img__description_layer {
    visibility: visible;
    opacity: 1;
}

.img__description {
    transition: .2s;
    transform: translateY(1em);
}

.img__wrap:hover .img__description {
    transform: translateY(0);
}