/*  Nav Bar */

aside {
    width: 240px;
    padding: 8px 0 0 22px;
    top: 0px;
    z-index: 9999999;
}

@media (max-width: 991.98px) {
    aside {
        width: 100%;
        padding: 8px 0 0 22px;
        top: 0px;
        z-index: 9999999;
    }
}

@media (max-width: 991.98px) {
    .navbar-toggler {
        float: inline-end;
    }
}


.bg-light {
    background-color: #FFF !important;
}



.nav-link {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    transition: color 0.4s linear;
    -webkit-transition: color 0.4s linear;
    -moz-transition: color 0.4s linear;
    color: black !important;
    letter-spacing: 4px;
    font-size: 16px;
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

}

.nav-link:hover {
    color: grey !important;
}

.navbar-collapse {
    transition: height 1s, opacity 0.3s;
}

.active {
    font-weight: bold;
}


.store {
    float: left;
}

.crossStore {
    height: 12px;
    width: 12px;
    margin-top: 10px;
    -webkit-animation: rotate-90-ccw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: rotate-90-ccw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.crossStore:hover {
    -webkit-animation: rotate-90-cw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: rotate-90-cw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#storeCollapse {
    font-style: italic;
}


ul {
    list-style: none;
}

.bandlogo {
    margin-top: -22px;
    margin-bottom: -13px;
    height: 100px;
    width: 133px;
}

footer {
    margin-top: 83px;
}

footer>a {
    color: black;
    text-decoration: none;


}

footer>a:hover {
    color: grey;
    text-decoration: none;
}





@-webkit-keyframes rotate-90-ccw {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
}

@keyframes rotate-90-ccw {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
}